body{
  background-color: #333 !important;

}
.handleFreeSpace{
  height: 10px !important;
}
@media (max-width:1115px){
  .handleFreeSpace{
    height: 200px !important;
  }
}
@media (max-width:770px){
  .handleFreeSpace{
    height: 200px !important;
  }
}
@media (max-width:600px){
  .handleFreeSpace{
    height: 400px !important;
  }
}